*{
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding-top: 70pt;
}

.gradient 
{
  background: rgb(8,174,234);
  background: linear-gradient(90deg, rgba(8,174,234,1) 35%, rgba(183,33,255,1) 100%);
}

header{
 
  margin-bottom: 10rem;
}

nav{
  margin-bottom: 10rem;
}

#nav-item
{
  font-size: 18px;
  color: whitesmoke;
}

h2
{
  text-align: Left;
  font-weight: 500;
  margin-bottom: 4rem;

}

.page-header {
  font-size: 1.25rem;
  color: black;
}

.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.vote-box{


  background-color:lightgrey ;
  align-items: center;
  
}

div .btn.btn-sm, div div#count{
 padding: 0%;
 align-items: center;
 margin: 0erm;

}

div h2{
  padding: .5rem;
  margin: .5rem;
}
div.col-1{
margin: 1rem 1rem 0rem 0rem;

}
div.col{
  margin: 1rem 0rem 0rem 1rem;
 
}


