*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding-top: 70pt;
}

.gradient 
{
  background: rgb(8,174,234);
  background: linear-gradient(90deg, rgba(8,174,234,1) 35%, rgba(183,33,255,1) 100%);
}

header{
 
  margin-bottom: 10rem;
}

nav{
  margin-bottom: 10rem;
}

#nav-item
{
  font-size: 18px;
  color: whitesmoke;
}


h2
{
  text-align: left;
  font-weight: 500;
  margin-bottom: 2rem;

}


.page-header {
  font-size: 1.25rem;
  color: black;
}

.feature {
  color: #fff;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  color: #fff;
  height: 5rem;
  width: 5rem;
  font-size: 1.75rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
}


a {
  color: #fff;
  text-decoration: none;
}

.vote-box{

  align-content: justify;
  padding: 3px;
  border-radius: 4px #000;
  
}

div .btn{
  padding: 1%;
  margin: 0%;
  flex-shrink: initial;
  display:block;
  position: relative;
  left: auto;


}

div.answer{

  margin: 1rem;
  padding: 1rem;
  border: 1px solid gainsboro;
  background-color: #fff;
  align-items:center;
  flex-wrap: wrap;
  flex-shrink: initial;
  font-size: small;
  text-align: left;

}

.question-content{
  font-size: small;

}


div.col-1{
  margin: 1rem 1rem 0rem 0rem;
  align-content:center;
  max-width: 3rem;;
}

div.col{
  margin: 1rem 0rem 0rem 1rem;
  padding: 0%;
  align-content: center;
}

div.count{
  text-align: center;
}

div hr{
  
  max-width: 50%;
  display: block;
  position: relative;
  left:25%;
  
}

div.cols.tag{
  width: auto;
  
}

div.cols.tag p{
  background-color:rgb(243, 233, 233);
  border: 1pt solid gainsboro;

  padding: 5pt;
  display: inline-flex;
}

li a.page-item.active.page-link {
  z-index: 3;
  color: rgb(8, 8, 8);
  font-size: medium;
  background-color: #007bff;
  border-color: #002246;
}

div#container {

  min-height: calc(100vh - 50px);

  position: relative;
}


#footer {
  color: #fff;
  font-size: 1rem;
 
  bottom: 0;
  width: 100%;
  height: 50px;

}
