
header
{
    
}

.sel-forms-office
{
    margin-top: 3rem;
    margin-bottom: 0.7rem;
}


.form-select
{
    width: 600px;
    margin-bottom: 0.7rem;
}

.btn-primary
{
    margin-top: 0.7rem;
    width: 600px;
    height: 40px;
}

